<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Login</title>
</head>

<body>
    <form class="formLogIn" action="/auth/index" method="POST">
        <div class="divLogin">
            <h2 class="form-title" id="login">Log in</h2>
            <input type="email" class="input" placeholder="Email" name="email" />
            <input type="password" class="inputPassword" placeholder="Password" name="password" />
            <div class="captcha">
                <input readonly="readonly"  onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" type="text" class="captchaImage" name="captchaText" value="{{mCaptcha}}" />
                <input  type="text" class="inputCaptcha" placeholder="Captcha" name="captchaInput" id="captchaInput"/>
                {{#if invalidCaptcha}}
                <h4 class="errorMessageRegister">{{invalidCaptcha}}</h4>
                {{/if}}
            </div>
            <button type="submit"  class="loginBtn">Log in</button>
            <a href="/register" class="link" target="_blank">Register here</a>
            {{#if noCredMessage}}
            <h4 class="errorMessageRegister">{{noCredMessage}}</h4>
            {{/if}}
            {{#if wrongCredMessage}}
            <h4 class="errorMessageRegister">{{wrongCredMessage}}</h4>
            {{/if}}
            {{#if qMMessage}}
            <h4 class="errorMessageRegister">{{qMMessage}}</h4>
            {{/if}} 
            
            
        </div>
    </form>
    </div>
</body>

</html>