<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_landingPage.css">
    <title>Landing Page</title>
</head>
<body>
        {{>_header}}
    <main>
            <h2 class="allParts" id="allParts">All Parts()</h2>
            <form action="/landingPage/search" method="POST" class="searchContainer">
                <input type="text" placeholder="Search part by User ID" class="partSearch" value="{{userID}}"
                    name="userId">
                <button class="searchBtn">Search</button>
            </form>

            
            <div class="addPartContainer">
                <button class="addPartBtn">Add Part</button>
            </div>
                
            <div class="cardLandingPage">

                <table>
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Part
                            </th>
                              <th>
                                Description
                            </th>
                            <th>
                                Local Task
                            </th>
                             <th>
                                Status
                            </th>
                            <th>
                                Task Current Duration
                            </th>
                             <th>
                                Task Due Date
                            </th>
                             <th>
                              Term Code
                            </th>
                              <th>
                              Net Weight
                            </th>
                            <th>
                              Gross Weight
                            </th>
                            <th>
                              Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                <a href="">TX0000</a>
                            </td>
                            <td>
                                A
                            </td>
                            <td>
                                Develop_7
                            </td>
                            <td>
                                Completed
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                28/08/2023
                            </td>
                            <td>
                                001
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                 <form action="/landingPage/deleteParts" method="POST">
                                    <input type="hidden" value="{{id}}" name="partDelete">
                                    <button class="actionBtn">Delete</button>
                                </form>
                                <form action="/landingPage/updateParts" method="POST">
                                    <input type="hidden" value="{{id}}" name="partUpdate">
                                    <button class="actionBtn">Update</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {{!-- {{#if noPartsAvailable}}
                <h2>No parts available</h2>
                {{else}} --}}
                {{!-- <table id="parts">
                    <thead class="headerTableParts">
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Part
                            </th>
                            <th>
                                Revision Description
                            </th>
                            <th>
                                Local Task
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Task Current Duration
                            </th>
                            <th>
                                Task Due Date
                            </th>
                            <th>
                                Term Code
                            </th>
                            <th>
                                Net Weight
                            </th>
                            <th>
                                Gross Weight
                            </th>
                            
                            <th>
                                Actions
                            </th>
                       
                        </tr>
                    </thead>
                
                    <tbody class="tbodyParts">
                        <tr class="trHover">
                            
                            <td></td>
                            <td><a href="/partDetails" class="link"></a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <p>Days</p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td></td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <form action="/landingPage/deleteParts" method="POST">
                                    <input type="hidden" value="{{id}}" name="partDelete">
                                    <button class="actionBtn">Delete</button>
                                </form>
                                <form action="/landingPage/updateParts" method="POST">
                                    <input type="hidden" value="{{id}}" name="partUpdate">
                                    <button class="actionBtn">Update</button>
                                </form>
                            </td>
                        </tr>
                     
                    </tbody>
                    {{!-- <tbody class="tbodyParts">
                        <tr class="trHover">
                            {{#each parts}}
                            <td>{{id}}</td>
                            <td><a href="/partDetails" class="link">{{partNumber}}</a></td>
                            <td>{{revisionDesc}}</td>
                            <td>{{localTask}}</td>
                            <td>{{status}}</td>
                            <td>
                                <p>{{currentDuration}} Days</p>
                            </td>
                            <td>
                                <p>{{dueDate}}</p>
                            </td>
                            <td>{{termCode}}</td>
                            <td>
                                <p>{{netWeigth}} kg</p>
                            </td>
                            <td>
                                <p>{{grossWeigth}} kg</p>
                            </td>
                        </tr>
                    
                    </tbody> --}}
            
                {{!-- </table> --}}
            </div>
           
           <div class="addPartModal">

            <div class="addPartModal-content">
                <span class="close">&times;</span>
                <h2>Add Part Modal</h2>
                <label class="partNumberL">Part Number</label>
                <br>
                <input class="partNumberI" type="text" placeholder="X00000" maxlength="6" minlength="6">
                <br>
                <label class="descL">Description</label>
                <br>
                <input class="descI" type="text" placeholder="Add Description" maxlength="25" minlength="25">
            </div>
                
           </div>
           
     
        {{!-- {{#if showModalAddPart}}
        <div id="myModal" class="modal">
            <div class="modal-content">
                <form action="/landingPage" method="GET">
                    <button class="close">&times;</button>
                </form>
                <form action="/landingPage/addParts/save" method="POST">
                    <input type="hidden" value="{{id}}" name="id">
                    <input type="text" class="input" placeholder="Part Number" name="part" value="{{part}}"
                        minlength="2" maxlength="50" />
                    <input type="text" class="input" placeholder="Rev Description" name="revDesc" value="{{revDesc}}"
                        minlength="2" maxlength="100" />
                    <input type="text" class="input" placeholder="Local Task" name="localTask" value="{{localTask}}"
                        minlength="5" maxlength="25" />
                    <input type="text" class="input" placeholder="Status" name="status" value="{{status}}" minlength="5"
                        maxlength="25" />
                    <input type="number" class="input" placeholder="Task Current Duration" name="taskCurrentDuration"
                        value="{{taskCurrentDuration}}" minlength="5" maxlength="11" />
                    <input type="date" class="input" placeholder="Task Due Date" name="dueDate" value="{{dueDate}}"
                        minlength="5" maxlength="50" />
                    <input type="text" class="input" placeholder="Term Code" name="termCode" value="{{termCode}}"
                        minlength="5" maxlength="25" />
                    <input type="number" class="input" placeholder="Net Weight" name="netWeight" value="{{netWeight}}"
                        minlength="5" maxlength="11" />
                    <input type="number" class="input" placeholder="Gross Weight" name="grossWeight"
                        value="{{grossWeight}}" minlength="5" maxlength="11" />
                    <input type="text" class="input" placeholder="User" value="{{user}}" name="user" maxlength="7" />
                    <input type="hidden" class="input" value="{{id}}" name="id" maxlength="7" />
                    <button type="submit" class="registerBtn">Save</button>
                    {{#if specialC}}
                    <h4 class="errorMessageRegister">{{specialC}}</h4>
                    {{/if}}
                    {{#if partRegistered}}
                    <h4 class="errorMessageRegister">{{partRegistered}}</h4>
                    {{/if}}
                    {{#if partRegisteredMessage}}
                    <h4 class="succRegisMessage">{{partRegisteredMessage}}</h4>
                    {{/if}}
                    {{#if userNotExists}}
                    <h4 class="errorMessageRegister">{{userNotExists}}</h4>
                    {{/if}}
                </form>
            </div>
        </div>
        {{/if}}
        {{#if showModalUpdatePart}}
        <div id="myModal" class="modal">
            <div class="modal-content">
                <form action="/landingPage" method="GET">
                    <button class="close">&times;</button>
                </form>
                <form action="/landingPage/updateParts/save" method="POST">
                    <input type="text" class="input" placeholder="Part Number" name="part" value="{{part}}"
                        minlength="2" maxlength="50" />
                    <input type="text" class="input" placeholder="Rev Description" name="revDesc" value="{{revDesc}}"
                        minlength="2" maxlength="100" />
                    <input type="text" class="input" placeholder="Local Task" name="localTask" value="{{localTask}}"
                        minlength="5" maxlength="25" />
                    <input type="text" class="input" placeholder="Status" name="status" value="{{status}}" minlength="5"
                        maxlength="25" />
                    <input type="number" class="input" placeholder="Task Current Duration" name="taskCurrentDuration"
                        value="{{taskCurrentDuration}}" minlength="5" maxlength="11" />
                    <input type="date" class="input" placeholder="Task Due Date" name="dueDate" value="{{dueDate}}"
                        minlength="5" maxlength="50" />
                    <input type="text" class="input" placeholder="Term Code" name="termCode" value="{{termCode}}"
                        minlength="5" maxlength="25" />
                    <input type="number" class="input" placeholder="Net Weight" name="netWeight" value="{{netWeight}}"
                        minlength="5" maxlength="11" />
                    <input type="number" class="input" placeholder="Gross Weight" name="grossWeight"
                        value="{{grossWeight}}" minlength="5" maxlength="11" />
                    <input type="text" class="input" placeholder="User" value="{{user}}" name="user" maxlength="7" />
                    <input type="hidden" value="{{idUser}}" name="idUser">
                    <button type="submit" class="registerBtn">Edit</button>
                    {{#if specialC}}
                    <h4 class="errorMessageRegister">{{specialC}}</h4>
                    {{/if}}
                    {{#if userNotExists}}
                    <h4 class="errorMessageRegister">{{userNotExists}}</h4>
                    {{/if}}
                    {{#if partUpdated}}
                    <h4 class="succRegisMessage">{{partUpdated}}</h4>
                    {{/if}}
                </form>
            </div>  --}}
        
    
    </main>
      {{>_footer}}
    </div>
    <script
  src="https://code.jquery.com/jquery-3.7.0.js"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>
    <script src="/test.js" charset="UTF-8"></script>
</body>

</html>