<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Register</title>
</head>

<body>

    <body>
        <form action="/auth/register" method="POST" class="formRegister">
            <div class="center">
                <h2 class="form-title" id="login">Register</h2>
                <input type="text" class="input" placeholder="User" name="user" value="{{userLSR}}" minlength="7"
                    maxlength="7" />
                <input type="text" class="input" placeholder="Name" name="name" value="{{nameLSR}}" minlength="2"
                    maxlength="25" />
                <input type="text" class="input" placeholder="Last Name" name="lastName" value="{{lastNameLSR}}"
                    minlength="2" maxlength="25" />
                <input type="text" class="input" placeholder="Position" name="position" value="{{positionLSR}}"
                    minlength="5" maxlength="50" />
                <input type="email" class="inputEmail" placeholder="Email" name="email" value="{{emailLSR}}"
                    maxlength="100" />
                <input type="password" class="input" placeholder="Password" name="password" value="{{passwordLSR}}"
                    minlength="12" maxlength="50" />
                <input type="password" class="inputConfirmPassword" placeholder="Confirm your password"
                    name="passwordConfirm" value="{{passwordConfirmLSR}}" minlength="12" maxlength="50" />
                <button type="submit" class="registerBtn">Register</button>
                {{#if userRegisteredMessage}}
                <h4 class="succRegisMessage">{{userRegisteredMessage}}</h4>
                {{/if}}
                {{#if emailMessage}}
                <h4 class="errorMessageRegister">{{emailMessage}}</h4>
                {{/if}}
                {{#if specialC}}
                <h4 class="errorMessageRegister">{{specialC}}</h4>
                {{/if}}
                {{#if userTaken}}
                <h4 class="errorMessageRegister">{{userTaken}}</h4>
                {{/if}}
                {{#if userLength}}
                <h4 class="errorMessageRegister">{{userLength}}</h4>
                {{/if}}
                {{#if qMMessage}}
                <h4 class="errorMessageRegister">{{qMMessage}}</h4>
                {{/if}}
                {{#if passwordMessage}}
                <h4 class="errorMessageRegister">{{passwordMessage}}</h4>
                {{/if}}
            </div>
        </form>
        </div>
    </body>
</body>

</html>